<%= decidim_form_for(@form, html: { class: "form new_credential" }) do |f| %>
  <div class="card">
    <div class="card-divider">
    </div>
    <div class="card-section">
      <div class="row column">
        <%= f.text_field :dni, label: "DNI", autofocus: true %>
        <%= f.hidden_field :linked_uri, value: params[:linkingUri] %>
      </div>
    </div>
  </div>


  <div class="button--double form-general-submit">
    <%= f.submit t("create", scope: "decidim.petitions.credentials") %>
  </div>
<% end %>
