<% add_decidim_meta_tags({
  title: t("issuer", scope: "decidim.petitions.credentials"),
  description: t("description", scope: "decidim.petitions.credentials")
}) %>

<div class="row columns">
  <h2 class="section-heading"><%= t("issuer", scope: "decidim.petitions.credentials") %></h2>
  <div class="row">
    <div class="columns large-6 medium-centered lead">
      <%= render partial: "form" %>
    </div>
  </div>
</div>

