<%# <%= render partial: "decidim/shared/component_announcement" %1> %>

<div class="row columns">
  <div class="title-action">
    <h2 id="petitions-count" class="title-action__title section-heading">
      <%= render partial: "count" %>
    </h2>
  </div>
</div>
<div class="row">
  <div id="petitions" class="columns mediumlarge-12 large-12">
    <%= render partial: "petitions" %>
  </div>
</div>

